
html,body{
    height: 100%;
    background-color: #f1f1f1 !important;
}
.sign{
    height: 100%;
    font-size: 14px;
    background-color: #f1f1f1;
    text-align: center;
}
.logo{
    position: absolute;
    top: 50px;
    left: 50px;
}
.logo img{
    width: 100px;
}
.main{
    width: 400px;
    background-color: #ffffff;
    margin: 50px auto 0;
    padding: 50px 50px 30px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgb(0, 0, 0,0.1);
    display: inline-block;   
}
.main .title{
    margin: 0 auto 50px;
    padding: 10px;
    color: #939393;
}
.main .title h4{
    margin: 0;
    font-size: 18px;
}
.main .title h4 a,.main .title h4 b{
    padding: 10px;
}
.main .title h4 a.active{
    font-weight: 700;
    color: #ea6f5a !important;
    border-bottom: 2px solid #ea6d5a;
}
.main .title h4 a:hover{
    border-bottom: 2px solid #ea6d5a;
}
.main form {
    margin: 0 0 30px;
    color: #969696;
}
.main form .input-prepend {
    position: relative;
    width: 100%;
}
.main form .input-prepend input {
    width: 100%;
    height: 50px;
    padding:  4px 12px 4px 35px;
    border:1px solid #c8c8c8;
    border-bottom: none;
    background-color: #f8f8f8;
}
.main form input.top-radius {
    border-radius: 4px 4px 0 0;
}
.main form input.bottom-radius{
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #c8c8c8;
}
.main form .input-prepend i {
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 18px;
}
.main form .remember {
    float: left;
    margin: 20px 0;
}
.main form .help{
    float: right;
    margin: 20px 0;
}
.main form>input {
    width: 100%;
    display: block;
    height: 42px;
    border-radius: 20px;
}
.main .more-sign p{
    position: relative;
    font-size: 14px;
    color: #b8b8b8;
    margin-bottom: 20px;
}
.main .more-sign p::before{
    content: '';
    width: 60px;
    border-bottom:1px solid #b8b8b8; 
    position: absolute;
    top: 10px;
    left: 30px;
}
.main .more-sign p::after{
    content: '';
    width: 60px;
    border-bottom:1px solid #b8b8b8; 
    position: absolute;
    top: 10px;
    right: 30px;
}
.main .more-sign ul{
    margin-bottom: 20px;
}
.main .more-sign ul li{
    display: inline-block; 
    border-radius: 50%;
    color: white;
    margin: 0 5px;
}
.main .more-sign ul li.weibo{
    background: #e05244;
}
.main .more-sign ul li.weixin{
    background: #00bb29;
}
.main .more-sign ul li.qq{
    background: #498ad5;
}
.main .more-sign ul li.other{
    background: #f0f0f0;
}
.main .more-sign ul li a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.main .more-sign ul li.other{
    color: #939393;
}
.main .more-sign ul li a i{
    font-size: 25px;
    line-height: 50px;
}
.main form input.sign-up-btn{
    margin-top: 20px;
}
.main form p.sign-up-msg{
    margin: 15px 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.main form p.sign-up-msg a{
    color: #3194d0 !important;
}
.main form .ssm{
    position: relative;
    display: none;
}
.main form .input-prepend a.send-ssm{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 100px;
    height: 40px;
    line-height: 25px;
    border-radius: 20px;
    color: white !important;
    font-size: 14px;
    opacity: 0.8;
}

/* 媒体查询 */
@media (max-width:768px){
    .logo{
        display: none;
    }
    html,body {
        background: #fff !important;
    }
    .sign {
        background: #fff;
    }
    .main{
        box-shadow: none;
        margin: 0 auto;
    }
}